cystic fibrosis, ?compid=1239
Lombard trophy, ?compid=1269
elmstead, ?compid=1266
EGU Gold Medal, ?compid=1268
cooper bland, ?compid=1271
centenary medals, ?compid=1272
county standard, ?compid=1337
coronation cup, ?compid=1317
victory cup, ?compid=1298
hospice and st helena, ?compid=1348
vj cup, ?compid=1412
millenium trophy, ?compid=1398
john thorogood, ?compid=1441
moy cup, ?compid=1497
medal winners, ?compid=1523
